[submodule "vendor/chafa"]
	path = vendor/chafa
	url = https://github.com/hpjansson/chafa.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/hwinfo"]
	path = vendor/hwinfo
	url = https://github.com/lfreist/hwinfo
